@import "tailwindcss";

@theme {
  --color-precious-pearls: #F1F0EF;
  --color-onsen: #66EEBB;
  --color-lavender-lace: #DFDDE0;
  --color-lusty-lavender: #8D5EB7;
  --color-foggy-amethyst: #57317E;
  --color-lost-in-sadness: #151632;
}

body {
  
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
